body {
    font-family:Arial;
}
.inputLabel{
    font-weight:bold;   
    margin-bottom:5px;     
}
.codeInput{
    font-family:Courier New;    
    display:block;
    margin-bottom:10px;         
}
.fullwidth{
    width:100%;
    display:block;    
}
.halfwidth{    
    width:49%;    
    float:left;
}
.regexInput{
    width:100%;    
}
.regexResult{
    padding:1px; 
    margin-bottom:10px;
}
.clear{
    clear:both;    
}

.horizontal-list
{
    border:1px solid red;
    list-style-type:none;
    padding:5px;
}

.horizontal-list li
{
    display:inline;
    margin-right:20px;    
}

.match {
    background-color:#F1F0F0;
    color:#cc0000;
    border-bottom:1px solid #333;
    font-weight:bold;
}

.groupResultIndex{
    background-color:#333;
    color:#fff;
    display:inline-block;
    padding:3px;    
}

.groupResultList
{
    list-style-type:none;
    margin:0px;
}

#matchAccordion.ui-accordion-header{
    font-size:8pt;    
}

#matchAccordion.ui-accordion-content{
    font-size:8pt;    
}

.groupResultIndex, .groupTextMatch{
    font-size:8pt;    
}

.groupResultLabelSpan{
    background-color:#333;
    color:#fff;
    display:inline-block;     
    width: 100px;
    text-align: right;
    padding: 3px;       
}

.groupResultValueSpan{
    color:#333;
    display:inline-block;     
    padding: 3px;           
}