<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/css/nregex.css")" rel="stylesheet" type="text/css" />
</head>
<body>
  @RenderBody()
</body>
</html>
