@{
    ViewBag.Title = "nRegex v/2012";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>nRegex 12</h2>
<span class="inputLabel">Regular Expression:</span>
<input type="text" />
<span class="inputLabel">Replacement String:</span>
<input type="text" />
<span class="inputLabel">Matches & Replacements:</span>
<input type="text" />
<span class="inputLabel">Matched Groups:</span>
<input type="text" />
<span class="inputLabel">Target:</span>
<textarea></textarea>