@{
    ViewBag.Title = "nRegex v/2012";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section PageScripts{
<script>
  $(function () {
    nRegexEngine.init(1000, {
            ServiceUrl : '@Url.Action("EvaluateExpression", "Regex")',
            RegexTextArea: $("#regexEntryTextArea"),
            IgnoreCaseCheckbox : $("#ignoreCaseCheckbox"),
            SingleLineCheckbox : $("#singleLineCheckbox"),
            MultiLineCheckbox : $("#multiLineCheckbox"),
            ExplicitCaptureCheckbox : $("#explicitCaptureCheckbox"),
            TargetTextArea : $("#regexTargetArea"),
            ReplaceTextArea : $("#replaceTextInput") 
    });

    $("#manualTestButton").click(function () {
      nRegexEngine.internals.evaluateRegex();
    });
  });
</script>
}

<h2>nRegex 12</h2>
<div class="clear">
  <span class="inputLabel">Target:</span>
  <textarea id="regexTargetArea" class="fullwidth codeInput"></textarea>
</div>
<div>
  <span class="fullwidth inputLabel">Regular Expression:</span>
  <textarea id="regexEntryTextArea" class="codeInput regexInput"></textarea>
</div>
<div>
  <ul class="horizontal-list">
    <li>
      <input type="checkbox" id="ignoreCaseCheckbox" />
      <label for="ignoreCaseCheckbox">Ignore Case</label>
    </li>
    <li>
      <input type="checkbox" id="singleLineCheckbox" />
      <label for="singleLineCheckbox">Single Line</label>
    </li>
    <li>
      <input type="checkbox" id="multiLineCheckbox" />
      <label for="multiLineCheckbox">Multi Line</label>
    </li>
    <li>
      <input type="checkbox" id="explicitCaptureCheckbox" />
      <label for="explicitCaptureCheckbox">Explicit Capture</label>
    </li>
  </ul>
</div>
<div class="clear">
  <span class="fullwidth inputLabel">Replacement String:</span>
  <input id="replaceTextInput" class="codeInput regexInput" type="text" value="replacement string" />
</div>
<div id="resultPane" class="clear">

</div>
<!-- a button to manually test --> 
<input style="display:block;" type="button" value="Man Test" id="manualTestButton" />